
<div class="jumbotron">

    <div class="row">
        <div class="col-md-6">
            <div *ngFor='let quote of quotes; let i = index'>
                <div>


                    <p *ngIf="highestUpvote()!==quote.upvote || quote.upvote===0">" {{quote.quote}} "</p>
                    <button (click)='quoteLike(i)' class="fas fa-thumbs-up">{{quote.upvote}}</button>
                    <button (click)='quoteUnlike(i)' class="fas fa-thumbs-down">{{quote.downvote}}</button>                  
                    <button (click)='toggleDetails(i)' class="btn btn-outline-warning">Quote Details</button>
                    <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isDelete)='deleteQuote($event, i)'>
                    </app-quote-detail>
                    <hr>

                </div>
            </div>
        </div>
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>


</div>

