/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


.txt{
    font-size: 100px;
}

.jumbotron{
    background-color: brown;
}

.row{
    align-items: center;
    background-color: blue;
}







